**/.DS_Store
*-debug.log
*-error.log
/.idea
/.nyc_output
/dist
/lib
/package-lock.json
/tmp
node_modules
oclif.lock
oclif.manifest.json
/output
/.magicpod_analyzer
tsconfig.tsbuildinfo
service_account.json
magicpod_analyzer.yaml
